@use "/app/_master.scss" as v;

.wrapper {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.left {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.grid {
    display: grid;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: v.$gap;
    margin-bottom: calc(v.$gap * 2);
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0rem 1.5rem 4rem -1rem v.$purpleShadow;
    gap: v.$gap;

    &.cardHover {
        transition: box-shadow 250ms, transform 250ms;
        position: relative;
        z-index: 1;
        cursor: pointer;

        &:hover {
            box-shadow: 0rem 1.5rem 6rem 0rem v.$purpleShadow;
            transform: scale(1.03);
            z-index: 10;
        }
    }

    &.tight {
        padding: 1rem;
    }
    &.full {
        width: 100%;
    }
    &.half {
        width: calc(50% - v.$gap/2);
    }
    &.third {
        width: calc(33.33% - v.$gap * 0.67);
    }
    &.quarter {
        width: calc(25% - v.$gap * 0.8);
    }
}

.button {
    background-color: v.$purple;
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.33rem;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 200ms, background-color 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v.$gap / 3;

    &.primary {
        background-color: v.$purple;
    }

    &.secondary {
        background-color: black;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus {
        outline: 1px solid black;
    }

    &:disabled {
        background-color: gray;
        cursor: not-allowed;

        &:hover {
            transform: scale(1);
        }

        &:active {
            transform: scale(1);
        }
    }
}

@keyframes sectionDivAnimation {
    from {
        transform: translate(-50px, -50px);
    }
    to {
        transform: translate(50px, 50px);
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
    background-color: rgb(242, 242, 242);
    min-height: 50vh;
    position: relative;
    overflow: hidden;

    &.fs {
        min-height: 100vh;
    }

    &.dark {
        background-color: rgb(34, 32, 32);
        color: white;
    }

    &.light {
        background-color: white;
        color: black;
    }

    & :first-child {
        position: relative;
        z-index: 10;
    }

    & .bgAnimation {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        filter: blur(4rem);
        opacity: 40%;
        z-index: 1;
        div {
            width: 7rem;
            aspect-ratio: 1/1;
            border-radius: 100%;
            position: absolute;
            animation-name: sectionDivAnimation;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        & :nth-child(1) {
            background-color: v.$purple;
            top: 25%;
            left: 65%;
            animation-duration: 4s;
            transform: scale(2);
        }

        & :nth-child(2) {
            background-color: v.$red;
            top: 35%;
            left: 25%;
            animation-duration: 2s;
            transform: scale(1.5);
        }

        & :nth-child(3) {
            background-color: v.$purple;
            top: 45%;
            left: 45%;
            animation-duration: 3s;
            transform: scale(1.5);
        }

        & :nth-child(4) {
            background-color: v.$red;
            top: 55%;
            left: 65%;
            animation-duration: 5s;
            transform: scale(0.9);
        }

        & :nth-child(5) {
            background-color: v.$purple;
            top: 65%;
            left: 25%;
            animation-duration: 6s;
            transform: scale(1.8);
        }
    }
}
